@charset "UTF-8";

body,
#searchfield {
  font: 1.2em sans-serif;
  }

.suggestions {
  background-color: antiquewhite;
  padding: 2px 6px;
  border: 1px solid blue;
  }

.suggestions:hover {
  background-color: blueviolet;
  }

#popups {
  position: absolute;
  }

#searchfield.error {
  background: #ffc;
  }