*,
*:before,
*:after {
	box-sizing: border-box;
	user-select: none;
	cursor: default;
}

.app {
	background: black linear-gradient(to bottom, #104070, #003050, #101040);
	color: rgba(255,255,255,0.75);
	height: 100vh;
	font-size: 12px;
	font-family: sans-serif;
	overflow: hidden;
	margin: 0;
	box-shadow:
		0 0 2px rgba(255,255,255,0.15),
		-25px 0 100px 0 rgba(0,0,0,0.25) inset;
}

.title-bar {
	border-bottom: 1px solid rgba(255,255,255,0.25);
	display: flex;
}

.title-bar__app-title {
	font-size: 11px;
	padding: 0;
	margin: 0;
	line-height: 1;
}

.title-bar__controls {
	width: 100%;
	text-align: right;
}

.title-bar__controls--button {
	padding: 0;
	margin: 0;
	line-height: 1;
	background: none;
	border: none;
	font-size: 11px;
	font-family: sans-serif;
	color: rgba(255,255,255,0.75);
	padding: 3px 10px;
	border-left: 1px solid rgba(255,255,255,0.25);
}

.title-bar__controls--button:hover {
	color: rgba(255,255,255,1);
}

.title-bar__controls--button:active,
.title-bar__controls--button:focus {
	outline: 0;
}

.title-bar__controls--help {
}

.title-bar__controls--exit {
}

.title-bar__controls--exit:hover {
	background: rgba(255,0,0,0.5);
}

.sound-selector__sound {
	text-align: center;
	width: 100%;
	height: calc(100vh / 10);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding: 10px;
	position: relative;
}

.sound-selector__sound:hover {
	background: rgba(255,255,255,0.075);
}

.sound-selector__sound--active {
	position: relative;
}

.sound-selector__sound--active:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: transparent linear-gradient(45deg, transparent 25%, rgba(102, 255, 102, 0.45));
	top: 0;
	right: 0;
}

.sound-selector__sound--active .sound-selector__icon {
	opacity: 0.75;
}

.sound-selector__icon {
	opacity: 0.5;
	/* Vertically center the icons **/
	position: absolute;
	top: 50%;
	width: 50%;
	transform: translate(-50%, -50%);
}

.sound-selector__sound:hover .sound-selector__icon {
	opacity: 1;
}
